<!DOCTYPE html>
<html lang="pt-BR">

{% include 'recipes/partials/head.html' %}

    <body>
        <header class="main__header__container">
            <div class="main__header container">
                <h1>
                    <a class="main__header__title" href="/">
                        <i class="fa-solid fa-spoon main__header__icon"></i>
                        <span>Receitas do Lumi</span>
                    </a>
                </h1>
            </div>
        </header>

        <main class="main__container">
            <div class="container">
                <form action="" class="form__container">
                    <input type="search" name="search" class="form__input" placeholder="Pesquisar receitas">
                    <button class="form__button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </main>
    </body>

</html>